<% provide(:title, 'Новое сообщение') %>
<!DOCTYPE html>
<h1>Создать новое сообщение</h1>
<%= @error_string %>
<%= form_for @post do |f| %>
	<p>Заголовок:<%= f.text_field :title %></p>
	<p>Текст:<%= f.text_area :text %></p>

	<p><%= f.submit "Опубликовать" %></p>
<% end %>