<!DOCTYPE html>
<html>
<head>
  <title>Мой блог | <%= yield(:title)  %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
		        <div class="navbar-header">
		                 <%= link_to "Мой блог", '#', id: "logo" %>
		        </div>
		        <div class="collapse navbar-collapse">
		         	 	<ul class="nav navbar-nav">
			            	<li ><a href="#"><span class="glyphicon glyphicon-home"> Home</span></a></li>
			           	 	<li class="active"><a href="#about">About</a></li>
			            	<li><a href="#contact">Contact</a></li>
		          		</ul>

		          		<div class="navbar-right">
		          			
		          			<ul class="nav navbar-nav">
			            	<li><a href="#">Регистрация</a></li>
			           	 	
		          		</ul>
		          		</div>
		        </div><!--/.nav-collapse -->
	      </div>
	    </div>
	<div class = "container">
		<%= yield %>
	</div>
</body>
</html>
